body {
  background: #ffffff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
  border: none;
  color: #000000;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
}

input,
textarea,
select {
  outline: none;
  font-family: Arial;
  font-size: 12px;
  box-sizing: border-box;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  outline: none;
}

a:hover {
  text-decoration: none;
}

h1, h2 {
  font-size: 20px;
  padding: 0 0 10px 0;
  color: #545454;
}

.mainer {
  padding: 50px 30px;
  box-sizing: border-box;
  max-width: 1200;
  margin: 0 auto;
}

.header {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto 100px auto;
}
.header .desc {
  font-weight: 600;
  font-size: 18px;
  margin: 10px;
}
.header .name {
  font-size: 86px;
  line-height: 90px;
  font-weight: bold;
}
.header .desc, .header .name {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.multiple-slide {
  width: 85vw;
  margin: 0 auto;
}

.slide {
  position: relative;
}

.content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  max-width: 70%;
}
.content .name, .content .author {
  font-family: "Poppins", sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.2em;
}
.content .name {
  font-size: 28px;
  line-height: 24px;
}
.content .author {
  font-size: 12px;
}